/JavaApplication_Assignment1/nbproject/private/
/Lab_1/nbproject/private/
/Lab_1/build/
/Lab_1/dist/
/Lab_1.5/nbproject/private/
/Lab_1.5/build/
/Lab_1.5-Question2/nbproject/private/
/Lab_1.5-Question2/build/
/JavaApplication_Assignment1/build/
/CopyAssignment1/nbproject/private/
/Lab_2/nbproject/private/
/PicUploadFunctionality/nbproject/private/
/PicUploadFunctionality/build/
/Java_Practice/nbproject/private/
/Lab_2/build/
/Java_Practice/build/
/Assignment2Part2/nbproject/private/
/Assignment2Part2/build/
/Assignment2_Part1/nbproject/private/
/Assignment2_Part1/build/
*.class
/Lab2.5/build/
/Lab3Skleton/build/
