/JavaApplication_Assignment1/nbproject/private/
/Lab_1/nbproject/private/
/Lab_1/build/
/Lab_1/dist/
/Lab_1.5/nbproject/private/
/Lab_1.5/build/
/Lab_1.5-Question2/nbproject/private/
/Lab_1.5-Question2/build/
/JavaApplication_Assignment1/build/
/CopyAssignment1/nbproject/private/
/Lab_2/nbproject/private/
/PicUploadFunctionality/nbproject/private/